/* Tirei a margem e o padding, padrão. E importei a fonte Poppins que comentei no arquivo HTML. */
* {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
}

/* Título centralizado e no topo da página. */
h1 {
    width: 100%;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 40px;
    font-weight: bold;
}

/* Aqui centralizei também igual fiz no título. */
#pesquisaUsuario {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Cor branca padrão. */
body {
    background-color: #e0e0e0;
}

/* Botão arredondado com um hover ao passar o mouse em cima, tendo um contraste de cor. */
button {
    padding: 5px 15px;
    border: 2px solid rgb(0, 0, 0); 
    border-radius: 50px;
    background: transparent;
    color: rgb(0, 0, 0);
    font-size: 16px;
    cursor: pointer;
    margin-left: 10px;
}

button:hover {
    background-color: rgb(0, 0, 0);
    color: white;
}

/* Input padrão arredondado com o fundo trasparente (estética). */
input {
    padding: 5px;
    width: 300px;
    border: 2px solid rgb(0, 0, 0); 
    border-radius: 50px;
    background: transparent;
    color: rgb(0, 0, 0);
    font-size: 16px;
}

.usuario {
    display: flex;
    align-items: center;
    margin-top: 150px;
}

.avatar {
    width: 100px;
    height: 100px;
    margin-right: 20px;
    margin-left: 20px;
}